<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Coiny"
      rel="stylesheet"
    />

    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <%= image_tag 'logo.png', class: "logo" %>
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item logo-text">
            Bebidas
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to 'Anadir Bebida', new_cocktail_path, class: "button
              is-info" %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %> <%= javascript_include_tag 'application',
    'data-turbolinks-track': 'reload' %> <%= javascript_pack_tag "application"
    %>
    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
